:root {
    --bg-color: #F5F7FB;
    --color: #293264;
    /* same color b/c dark mode do not remove */
    --focused-btn-color: #293264;
    --accent-color: #4D5B9E;
    --btn-hover-color: var(--color);
    --btn-hover-bg-color: #D6DBF5;
    --isHeld-bg-color: #D6DBF5;

    --blob-mix-blend-mode: normal;

    --question-border-bottom: hsl(231 41% 90%);
    --icon-hover-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: hsl(220deg 26% 14%); 
        --color: hsl(213deg 15% 97%);
        /* --accent-color: var(--btn-hover-color); */
        --btn-hover-color: hsl(175deg 100% 75%);
        --btn-hover-bg-color: hsl(216deg 19% 28%);
        --isHeld-color: #293264;

        --blob-mix-blend-mode: overlay;

        --question-border-bottom: hsl(231 41% 90% / .7);
        --icon-hover-color: var(--btn-hover-color);
    }

    
};


 html, body {
     height: 100%;
 }
 body {
    background-color: var(--bg-color);
 }
 
h3 {
     margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    }

* {
    margin: 0;
}
form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 34px 0 46px;
    color: var(--color);
}
label {
    display: block;
    font-family: Inter;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin-top: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: Inter;
}
 
 .btn {
    color: white;
    background-color: var(--accent-color);
    padding: 1em 3.5em;
    border: none;
    border-radius: 16px; 
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.btn.start-btn:hover,
.btn.start-btn:focus {
    color: white;
}

.home {
    position: relative; /* remove it is not keeping blob inside */
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.settingsIconsQuiz,
.settingsIconsHome {
    position: absolute;
    top: 32px;
    right: 32px;
    color: var(--color);
    z-index: 1;
}

.home__title {
    font-family: Karla;
    margin: 0;
    color: var(--color);
    font-weight: 700px;
    font-size: 5rem;
}
.home__text {
    font-family: Inter;
    margin-top: 10px;
    font-weight: 400;
    color: var(--color);
    font-size: 16px;
}
.quiz__header {
    display: flex;
    width: min(95%, 620px);
    justify-content: space-between;
    align-items: center;
    font-family: Karla;
    color: var(--color);
    padding-bottom: 1.3rem;
    font-size: 1.3rem;
    z-index: 1;
}
.logo {
    cursor: pointer;
}
.homeIcon,
.sunIcon,
.moonIcon,
.soundIcon {
    margin-right: .5em;
}
.homeIcon:hover,
.sunIcon:hover,
.moonIcon:hover,
.soundIcon:hover {
    transform: scale(1.2);
    color: var(--icon-hover-color);
    cursor: pointer;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    min-height: 100%;
    z-index: 1;
    background-color: var(--bg-color);
}

.quiz__answers {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quiz__loading--text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
.quiz__loading--box {
    display: flex;
    place-items: center;
}

.quiz__footer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.quiz__btn {
    padding: 1em 1.5em;   
}
.btn.quiz__btn:hover,
btn.quiz__btn:focus {
    color: white;
}
.btn:hover,
.btn:focus {
    color: var(--btn-hover-color);
    background-color: hsla(230, 34%, 46%, 0.90);
}
.quiz__finalText {
    font-size: 1.2rem;
    color: var(--color);
    font-family: Inter;
    font-weight: 700;
    margin-right: 2rem;
}

.question__component {
    width: min(90%, 600px);
    border-bottom: 1px solid var(--question-border-bottom);
    padding: 16px;
    z-index: 1;
}
.question__question {
    font-family: Karla;
    color: var(--color);
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

.question__btnctr {
    display: flex;
    flex-wrap: wrap;
}

.question__btn {
    border: 1px solid var(--color);
    border-radius: 10px;
    padding: .25em .75em;
    margin-bottom: .75em;
    margin-right: 1em;
    background-color: var(--bg-color);
    font-family: Inter;
    font-weight: 500px;
    color: var(--color);
}
.question__btn:focus,
.question__btn:hover {
    border: none;
    background-color: var(--btn-hover-bg-color);
    padding: calc(.25em + 1px) calc(.75em + 1px);
    outline: none;
}

.blueBlob {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
    mix-blend-mode: var(--blob-mix-blend-mode);
}

.yellowBlob {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
    mix-blend-mode: var(--blob-mix-blend-mode);
}

/* this was mostly a desktop first design so I will go with all max-width */
@media (max-width: 650px) {
    .home__title {
        z-index: 1;
        font-size: 4rem;
    }
    .home__text {
        z-index: 1;
    }
    .start-btn {
        z-index: 1;
    }
    input, label, select {
        z-index: 1;
    }
    .settingsIconsHome {
        position: revert;
        display: block;
        margin-left: auto;
    }
}

@media (max-width: 400px) {
    .home__title {
        font-size: 3.5rem;
        padding-top: 1rem;
    }   
    .settingsIconsHome {
        position: revert;
        display: block;
        margin-left: auto;
    }
}