:root {
    --bg-color: #F5F7FB;
    --blue-accent: #4D5B9E;
    --blue: #293264;
}

body, html, #root, .app {
    margin: 0;
    background-color: var(--bg-color);
    min-height: 100%;
 }

 html, body {
     height: 100%;
 }
 
h3 {
     margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    }

* {
    margin: 0;
}
form {
    margin: 30px 0 25px;
}
label {
    display: block;
    font-family: Inter;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Inter;
}
 
 .btn {
    color: white;
    background-color: var(--blue-accent);
    padding: 1em 3.5em;
    border: none;
    border-radius: 16px; 
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--bg-color);
}

.home__title {
    font-family: Karla;
    margin: 0;
    color: var(--blue);
    font-weight: 700px;
    font-size: 31px;
}
.home__text {
    font-family: Inter;
    margin-top: 10px;
    font-weight: 400;
    color: var(--blue);
    font-size: 16px;
}
 
.homeIcon {
    position: absolute;
    top: 4%;
    right: 10%;
    z-index: 1;
}
.homeIcon:hover {
    transform: scale(1.2);
    color: var(--blue-accent);
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    min-height: 100%;
    z-index: 1;
}
.quiz__answers {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quiz__loading--text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
.quiz__loading--box {
    display: flex;
    place-items: center;
}

.quiz__footer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.quiz__btn {
    padding: 1em 1.5em;
    
}
.quiz__finalText {
    font-size: 1.2rem;
    color: var(--blue);
    font-family: Inter;
    font-weight: 700;
    margin-right: 2rem;
}

.question__component {
    width: min(90%, 600px);
    border-bottom: 1px solid #DBDEF0;
    padding: 16px;
}
.question__question {
    font-family: Karla;
    color: var(--blue);
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

.question__btnctr {
    display: flex;
    flex-wrap: wrap;
}

.question__btn {
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: .25em .75em;
    margin-bottom: .75em;
    margin-right: 1em;
    background: hsla(99, 100%, 50%, 0);
    font-family: Inter;
    font-weight: 500px;
    color: var(--blue);
}
.question__btn:focus,
.question__btn:hover {
    border: none;
    background-color: #D6DBF5;
    padding: calc(.25em + 1px) calc(.75em + 1px);
    outline: none;
}

.blueBlob {
    position: fixed;
    bottom: 0;
    left: 0;
}

.yellowBlob {
    position: fixed;
    right: 0;
    top: 0;
}